/* Main settings -------------------------------- */

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: #FBFCFF;
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Noto Serif', serif; */
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

a {
    text-decoration: none;
    color:inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

figure {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    padding: 0;
    border-width: 0ch;
}

input {
    background-color: #ffffff;
    border: none;
}

input:focus-visible {
    outline: none;
}

/* Elements ------------------------------------- */

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

.button-link {
    font-family: 'Lato', sans-serif;
    line-height: 19px;
    padding: 12px 44px;
    display: inline-block;
}

.headline {
    font-family: 'Noto Serif', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28.43px;
    line-height: 40px;
    color: #010916;

}

/* Header ----------------------------------------*/

.header {
    background-color: #fff;
    height: 780px;
}

.container__header {
}

.header__decoration-rectangle--outer-big {
    width: calc((100vw - 680px) / 2);
    height: 780px;
    background-color: rgb(66, 127, 246, .1);
    position: absolute;
    right: 0;
    z-index: 0;
}

.header__menu-area {
    padding: 29px 0 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.header__logo {
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
}

.header__logo span{
    color: #427FF6;
}

.header__menu {
    margin: 0 45px 0 auto;
    z-index: 1;
}

.header__menu-list {
    display: flex;
    justify-content: space-between;
}

.header__menu-item {
    font-family: 'Lato', sans-serif;
    line-height: 19px;
    opacity: 0.7;
}

.header__menu-item:hover {
    text-decoration: underline;
    color: #427FF6;
    cursor: pointer;
}

.header__menu-item + .header__menu-item{
    margin-left: 46px;
}

.header__menu-item--current {
    color: #427FF6;
    font-weight: bold;
    opacity: 1;
}

.header__menu-item--current:hover {
    text-decoration: none;
    cursor: default;
}

.header__button {
    background-color: #427FF7;
    z-index: 1;
}

.header__button:hover {
    background-color: rgb(66, 127, 247, .75);
}

.header__button-link {
    color: #FFFFFF;
}

.header__main-area {
    display: grid;
    grid-template-columns: 463px 137px minmax(250px, 543px);
    /* padding-bottom: 127px; */
}

.header__content {
    grid-column: 1/3;
    margin-bottom: 120px;
}

.header__subtitle {
    margin: 118px 0 10px -2px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 23px;
    letter-spacing: 3.4px;
    color: #427FF6;
}

.header__title {
    margin: 0 0 30px;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    font-size: 50.52px;
    line-height: 69px;
    color: #010916;
}

.header__text {
    opacity: 0.7;
    max-width: 471px;
    padding-right: 10px;
}

.header__img-wrapper {
    grid-column: 2/-1;
    max-width: 100%;
    background-image: url(../images/header-img.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__content,
.header__img-wrapper,
.header__decoration-rectangle--inner-small {
    grid-row: 1/2;
}

/* Search Form -----------------------------------*/

.search-form {
    position: relative;
    top: -72px;
}

.search-form__container {
    display: flex;
    align-items: center;
    max-width: 1005px;
    padding: 34px 46px;
    background-color: #fff;
    box-shadow: 3px 7px 20px 2px rgb(177 179 182 / 10%);
}

.search-form__field {
    border-right: 1px solid #E1EBFE;
    position: relative; /*For arrowdown display */
}

.search-form__field + .search-form__field {
    margin-left: 37px;
}

.search-form__title {
    display: block;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    font-size: 21.33px;
    line-height: 29px;
    color: #000000;
}

.search-form__dropdown-list {
    appearance: none;
    outline:none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: rgb(0, 0, 0, .7);
    width: 234px;
    border: none;
    padding: 13px 0;
    border-bottom: 1px solid rgb(0, 0, 0, .1);
    margin-right: 25px;
}

.search-form__dropdown-list--small {
    width: 169px;
    margin-right: 38px;
}

.search-form__title::after {
    content:'';
    right: 37px;
    top: 47px;
    width: 13px;
    height: 8px;
    background-image: url(../images/dropdown-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    pointer-events:none;
}

.search-form__option {
}

.search-form__button {
    width: 109px;
    height: 74px;
    background-color: #427FF6;
    background-image: url(../images/magnifier.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.search-form__button:hover {
    background-color: rgb(66, 127, 247, .75);
}

/* Article ---------------------------------------*/

.article__background-field {
    margin: 43px 0 88px;
    padding: 82px 0;
    background-image: url(../images/article-background.jpg);
    background-repeat: no-repeat;
    background-position: top right;
}

.article__wrapper {
    padding: 63px 39px 62px 54px;
    background: #FFFFFF;
    max-width: 557px;
}

.article__headline {
    margin-bottom: 28px;
    max-width: 458px;
}

.article__text {
    margin-bottom: 35px;
    opacity: .7;
}

.article__link {
    cursor: pointer;
    color: #3454D1;
    fill: #3454D1;
}

.article__link-text {
    font-size: 18px;
    line-height: 23px;
    color: inherit;
    padding-right: 2px;
    display: inline-block;
}

.article__link:hover {
    color: rgb(52, 84, 209, .75);
    fill: rgb(52, 84, 209, .75);
}

.article__link--icon {
    fill: inherit;
}

/* Property display ------------------------------*/

.property-display {
    background-color: #fff;
    padding-bottom: 65px;
}

.property-display__header {
    padding: 102px 0 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.property-display__headline {
    max-width: 409px;
    font-weight: bold;
}

.property-display__menu-list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(0, 0, 0, .4);
    margin-bottom: 7px;
    margin-right: 2px;
}

.property-display__menu-item {
    font-family: 'Lato', sans-serif;
    line-height: 19px;
    opacity: 0.7;
    cursor: pointer;
}

.property-display__menu-item:hover {
    opacity: 1;
    border-bottom: 1px solid rgb(0, 0, 0, .7);
}

.property-display__menu-item-active {
    font-weight: bold;
    opacity: 1;
    border-bottom: 2px solid #000000;
}

.property-display__menu-item-active:hover {
    border-bottom: 2px solid #000000;
}

.property-display__menu-item + .property-display__menu-item {
    margin-left: 50px;
}

.property-display__body {
    
}
.property-display__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.property-display__block--house {
    
}

.property-display__block--apartment {
    display: none;
}

.property-display__block--land {
    display: none;
}

.property-display__item {
    display: grid;
    grid-template-rows: 299px 102px 107px;
    justify-items: center;
    margin-bottom: 30px;
}

.property-display__image {
    grid-area: 1/1/3/2;
}
.property-display__description {
    padding: 45px 40px;
    display: flex;
    align-items: flex-end;
    background-color: #fff;
    /* max-width: 508px; */
    box-shadow: 0px 0px 20px 4px rgb(177 179 182 / 10%);
    grid-area: 2/1/4/2;
}

.property-display__description-text {
    margin-right: 128px;
}

.property-display__description-text-title {
    font-family: 'Noto Serif', serif;
    line-height: 22px;
    margin-bottom: 10px;
}

.property-display__description-text-price {
    font-size: 21.33px;
    line-height: 29px;
    margin-bottom: 13px;
}

.property-display__description-text-parameters {
}

.property-display__icon {
    margin-right: 10px;
}

span + .property-display__icon {
    margin-left: 17px;
}

.property-display__icon-figure {
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    line-height: 19px;
    opacity: 0.7;
}

.property-display__description-text-address {
    font-family: 'Noto Serif', serif;
    font-size: 12px;
    line-height: 16px;
    opacity: 0.7;
}

.property-display__icon-adress {
    margin-right: 8px;
}
.property-display__description-button {
    padding: 14px 36px;
    background-color: #E1EBFE;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #3454D1;
    cursor: pointer;
}

.property-display__description-button:hover {
    background-color: #d6e4fe;
}

/* Gallery---------------------------------------- */

.gallery {
    padding-top: 102px;
    margin-bottom: 86px;

}

.gallery__headline {
    font-weight: bold;
    max-width: 502px;
    margin: auto;
    text-align: center;
    margin-bottom: 19px;
}
.gallery__text {
    opacity: .7;
    text-align: center;
    margin-bottom: 52px;
}

.gallery__popup-gallery {
}

.gallery_large-wrapper {
    max-height: 353px;
    margin-bottom: 30px;
}

.gallery_large-wrapper,
.gallery_small-wrapper {
    display: flex;
    justify-content: space-between;
}

.gallery__link-large {
    width: 48.7%;
}

.gallery__link-small {
    width: 31.6%;
}

.gallery__img {
    cursor: zoom-in;
}

.gallery__img--big,
.gallery__img--small {
    width: 100%;
} 

/* Feedback --------------------------------------------*/

.feedback {
    padding: 111px 0;
    background-color: #fff;
}

.feedback__wrapper {
    background-image: url(../images/feedback-background.jpg);
    background-repeat: no-repeat;
    background-position: center left;
    padding: 111px 0;
}

.feedback__slider {
    background-color: #fff;
    max-width: 551px;
    margin-left: auto;
    box-shadow: -10px 5px 20px 2px rgb(177 179 182 / 10%);
}

.feedback .slick-arrow {
    font-size: 0;
    position: absolute;
    top: 90%;
    z-index: 10;
    border: none;
    width: 15px;
    height: 26px;
    background-color: #fff;
    margin-top: -10px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

 .feedback .slick-prev {
    left: 10px;
    background-image: url(../images/arrow-left.svg);
}

.feedback .slick-next {
    right: 10px;
    background-image: url(../images/arrow-right.svg);
} 

.feedback .slick-dots {
    display: flex;
    font-size: 0;
    position: absolute;
    top: 90%;
    z-index: 10;
    left: 50%;
    margin-left: -39px;
    border: none;
    cursor: pointer;
}

.feedback .slick-dots li {
    margin-left: 5px;
}

.feedback .slick-dots button {
    background-color: rgb(219, 219, 219, .5);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.feedback .slick-active button {
    background-color: rgb(219, 219, 219, 1);
}

.feedback__slider-item {
    padding: 45px 148px 51px 45px;
}
.feedback__stars {
    width: 88px;
    height: 15.5px;
    margin-bottom: 47px;
}

.feedback__stars--5{
    background-image: url(../images/5-stars.png);
    margin-left: 3px;
}

.feedback__stars--4{
    background-image: url(../images/4-stars.png);
    margin-left: 3px;
}

.feedback__stars--3{
    background-image: url(../images/3-stars.png);
    margin-left: 3px;
}

.feedback__text {
    opacity: .7;
    margin-bottom: 58px;
    line-height: 23.8px;
}

.feedback__img-container {
    display: inline-block;
    max-width: 41px;
    max-height: 41px;
    margin-left: 4px;
    margin-right: 6px;
    border-radius: 50%;
    overflow: hidden;
}

.feedback__img {
    max-width: 100%;
}

.feedback__autor {
    display: inline-block;
}
.feedback__autor-name {
    opacity: 1;
    margin-bottom: 4px;
}
.feedback__autor-address {
    font-size: 14px;
    opacity: 0.7;
}

/* Questions --------------------------------------------*/

.questions {
    padding-top: 93px;
    margin-bottom: 49px;
}

.questions__headline {
    font-weight: bold;
    max-width: 588px;
    margin-bottom: 45px;
}

.questions__wrapper {
    background-image: url(../images/questions-background-img.png);
    background-repeat: no-repeat;
    background-position: top left;
}
.questions__item {
    max-width: 637px;
    min-height: 113px;
    padding-right: 78px;
    padding-left: 47px;
    display: flex;
    align-items: center;
    margin-left: auto;
    background-color: #fff;
}

.questions__item + .questions__item {
    margin-top: 26px;
}

.questions__item-header {
    font-family: Noto Serif;
    font-weight: normal;
    font-size: 21px;
    line-height: 29px;
    color: #000000;
}
.questions__item-button {
    padding: 11px 17px 7px;
    background-color: #ECF2FE;
    position: absolute;
    margin-left: 539px;
    margin-top: 73px;
    cursor: pointer;
}

.questions__item-img--plus {
    transition: all .3s;
}

.questions__item-ansver-container {
    display: none;
    position: absolute;
    margin-top: 290px;
    max-width: 513px;
    margin-left: -5px;
    background-color: rgb(255, 255, 255, 0.93);
}

.questions__item-ansver-text {
    opacity: .7;
    line-height: 26px;
    letter-spacing: 0.7px;
    padding-bottom: 60px;
    font-size: 18px;
}

/* Subscripion -------------------------------------------*/

.subscription {
}

.subscription-conatainer {
    position: relative;
    top: 106px;
}

.subscription__wrapper {
    background-image: url(../images/subscription-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    padding: 44px 0 63px 62px;
}

.subscription-title {
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.subscription-text {
    max-width: 342px;
    color: #FFFFFF;
    line-height: 23px;
    opacity: 0.7;
    margin-bottom: 43px;
}

.subscription-form {
    display: flex;
}

.subscription__input-field {
    min-width: 280px;
    padding: 22px 0px 22px 22px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #000000;
}

.subscription__button {
    background-color: #E1EBFE;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #3454D1;
    padding: 22px 36px;
    cursor: pointer;
}

.subscription__button:hover {
    background-color: #d6e4fe
}

/* Footer ------------------------------------------------*/

.footer {
    background: #000411;
}

.footer__container {
    padding-top: 241px;
    padding-bottom: 168px;
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footer__block-contacts {
    margin-top: -8px;
}

.footer__contacts-title {
    margin-left: 4px;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.445em;
    margin-bottom: 35px;
}

.footer__contacts-address {
    max-width: 211px;
    margin-bottom: 17px;
}

.footer__contacts-address,
.footer__contacts-email,
.footer__blocks-list {
    opacity: .7;
}

.footer__blocks-title {
    margin-bottom: 29px;
    font-size: 22px;
}

.footer__blocks-item + .footer__blocks-item {
    margin-top: 19px;
}

.footer__blocks-item a:hover {
    text-decoration: underline;
}

.footer__block-company {
    margin-left: 11px;
    margin-right: 18px;
}

.footer__block-social {
    margin-right: 138px;
}

/* Media queries -----------------------------------------*/

@media only screen and (max-width:1249px) {
    .header__decoration-rectangle--outer-big {
        display: none;
    }

    .article__wrapper {
        opacity: 0.8;
    }
}

@media only screen and (max-width:1160px) {
    .header {
        height: 755px;
    }
    
    .search-form {
        top: -52px;
    }
    
    .search-form__dropdown-list {
        font-size: 15px;
        padding: 8px 0;
    }
    
    .search-form__dropdown-list {
        width: 180px;
    }

    .search-form__title::after {
        right: 25px;
    }

    .search-form__container {
        padding: 20px 15px;
        max-width: 692px;
    }

    .search-form__dropdown-list {
        margin-right: 15px;
    }

    .search-form__dropdown-list--small {
        margin-right: 15px;
        width: 110px;
    }

    .search-form__field + .search-form__field {
        margin-left: 10px;
    }

    .search-form__button {
        margin-left: 15px;
        height: 60px;
    }

    .article__background-field {
        margin: 5px 0 88px
    }

    .property-display__block--house,
    .property-display__block--apartment,
    .property-display__block--land {
        justify-content: space-evenly;
    }
    
    .property-display__item {
        grid-template-rows: 224px 75px 78px;
        margin: 0 7px 23px 7px;
    }

    .property-display__image-wrapper {
        max-width: 416px;
    }

    .property-display__image {
        width: 100%;
    }

    .property-display__description {
        padding: 25px 25px
    }

    .property-display__description-text-title {
        margin-bottom: 9px;
    }
    
    .property-display__description-text-price {
        font-size: 18.33px;
        line-height: 26px;
        margin-bottom: 9px;
    }

    .property-display__description-text {
        margin-right: 44px;
    }

    span + .property-display__icon {
        margin-left: 10px;
    }

    .gallery_large-wrapper {
        margin-bottom: 20px;
    }

    .questions__item {
        width: 45%;
        padding-right: 0;
        padding-left: 20px;
        position: relative;
    }

    .questions__item-button {
        position: static;
        margin-left: 0;
        margin-top: auto;
    }
    
    .questions__item-header {
        font-size: 18px;
    }

    .questions__item-ansver-container {
        max-width: 83%;
        margin-top: 0;
        top: 109px;
        z-index: 3;
    }
    
    .questions__item-ansver-text {
        font-size: 16px;
    }

    .subscription-conatainer {
        top: 0;
    }

    .footer {
        background-color: #fff;
    }

    .footer__container {
        background: #000411;
        max-width: 1140px;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 135px;
        padding-left: 20px;
        padding-right: 50px;
    }

    .footer__block-social {
        margin-right: 0;
    }

}

@media only screen and (max-width:900px) {
    
    .button-link {
        padding: 10px 17px;
    }

    .header__menu-item + .header__menu-item {
        margin-left: 30px;
    }


    .header__menu {
        margin: 0 26px 0 auto;
    }

    .header__menu-area {
        margin-bottom: 30px;
    }

    .header {
        height: 712px;
    }

    .header__main-area {
        grid-template-columns: 360px 137px minmax(245px, 543px);
    }

    .header__title {
        font-size: 40.52px;
    }

    .header__text {
        max-width: 369px;
    }

    .property-display__header {
        flex-direction: column;
        padding: 102px 0 35px;
    }

    .property-display__headline {
        max-width: 80%;
        text-align: center;
    }

    .property-display__menu-list {
        margin-top: 40px;
    }

    .gallery_large-wrapper {
        margin-bottom: 15px;
    }

    .feedback__slider {
        max-width: 450px;
    }

    .feedback__slider-item {
        padding-right: 30px;
    }

    .questions__item {
        width: 450px;
        opacity: 0.7;
    }

    .questions__item--active {
        opacity: 1;
    }

    .questions__item-ansver-container {
        left: 0;
        margin-left: 0;
        padding-left: 20px;
    }
}

@media only screen and (max-width:768px) {
    
    .header {
        height: 632px;
    }
    
    .header__menu-item + .header__menu-item {
        margin-left: 24px;
    }

    .header__subtitle {
        margin: 45px 0 15px -2px;
    }

    .header__main-area {
        grid-template-columns: 293px 137px minmax(250px, 543px);
    }

    .header__content {
        margin-bottom: 100px;
    }
    
    .header__title {
        font-size: 36.52px;
        line-height: 57px;
        margin: 0 0 20px
    }

    .header__text {
        max-width: 314px;
    }

    .footer__container {
        flex-wrap: wrap;
        padding-top: 75px;
        padding-bottom: 65px;
    }  

    .footer__block-contacts {
        display: flex;
        flex-basis: 580px;
        margin-bottom: 45px;
        align-items: center;
    }

    .footer__contacts-title {
        margin-bottom: 0;
    }

    .footer__contacts-address {
        font-size: 14px;
        margin: 0 auto;
    }
}

@media only screen and (max-width:700px) {

    .header {
        height: 726px;
    }
    
    .header__menu {
        position: absolute;
        top: -220px;
    }

    .header__menu--active {
        position: absolute;
        overflow: auto;
        top: 70px;
        left: 10px;
        margin: 0;
        padding: 10px 50px;
        background-color: rgb(255, 255, 255, .9);
        border: 1px solid #f3f3f3ef;
        transition: all .5s;
    }

    .header__menu-item {
        font-size: 19px;
        line-height: 38px;
    }

    .header__menu-item + .header__menu-item {
        margin-left: 0;
    }

    .header__menu-list {
        flex-direction: column;
    }

    .header__logo-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .header__menu-burger {
        display: block;
        position: relative;
        width: 38px;
        height: 25px;
        margin-right: 50px;
    }

    .header__menu-burger::before,
    .header__menu-burger::after {
        content: '';
        background-color: #427FF7;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all .3s ease 0s;
    }

    .header__menu-burger::before {
        top: 0;
    }

    .header__menu-burger::after {
        bottom: 0;
    }

    .header__menu-burger span {
        background-color: #427FF7;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 11px;
    }

    .header__menu-burger--active::before {
        transform: rotate(225deg);
        top: 11px;
    }

    .header__menu-burger--active::after {
        transform: rotate(-225deg);
        bottom: 11px;
    }

    .header__menu-burger--active span {
        transform: scale(0);
    }

    .header__main-area {
        display: block;
    }

    .header__content {
        margin-bottom: 20px;
    }

    .header__subtitle {
        text-align: end;
    }
    
    .header__title {
        text-align: center;
        margin-left: 100px;
        font-size: 31.52px;
        line-height: 47px;
    }

    .header__text {
        max-width: 100%;
        min-height: 97px;
        padding: 0;
        text-align: justify;
    }

    .header__img-wrapper {
        width: 100%;
        height: 300px;
        background-position: bottom center;
    }

    .search-form {
        position: absolute;
        top: 381px;
        left: 30px;
    }
    
    .search-form__container {
        flex-direction: column;
        align-items: start;
        padding: 0;
        min-height: 301px;
        justify-content: space-between;
        background-color: transparent;
    }

    .search-form__field {
        margin-bottom: 10px;
    }

    .search-form__field + .search-form__field {
        margin-left: 0;
    }

    .search-form__title {
        font-size: 19.33px;
        line-height: 25px;
    }

    .search-form__title::after {
        top: 33px;
    }

    .search-form__field {
        border: none;
    }
    
    .search-form__dropdown-list {
        font-size: 15px;
        width: 200px;
        padding: 5px 0;
        
    }

    .search-form__button {
        width: 165px;
        height: 45px;
        margin-left: 17px;
    }

    .article__background-field {
        margin: 43px 0 43px;
        padding: 52px 0
    }
    
    .article__wrapper {
        padding: 52px 25px 52px 25px;
        max-width: 490px;
    }

    .headline {
        font-size: 26.43px;
        line-height: 37px
    }

    .article__headline {
        margin-bottom: 25px;
    }

    .property-display__header {
        padding: 43px 0 35px
    }

    .property-display {
        padding-bottom: 43px;
    }
    
    .gallery {
        padding-top: 43px;
        margin-bottom: 43px;
    }

    .gallery__text {
        margin-bottom: 33px;
    }

    .gallery_large-wrapper {
        margin-bottom: 10px;
    }

    .feedback {
        padding: 43px 0
    }

    .feedback__wrapper {
        padding: 78px 0;
        background-size: cover;
        background-position: center;
    }

    .feedback__slider-item {
        padding-top: 15px;
        padding-bottom: 40px;
    }

    .feedback__stars {
        margin-bottom: 25px;
    }

    .feedback__text {
        margin-bottom: 15px;
    }

    .feedback__slider {
        max-width: 400px;
    }

    .questions__item {
        min-height: 80px;
        width: 401px
    }
    
    .questions__item-header {
        font-size: 16px;
        font-weight: 600;
    }

    .questions__item-ansver-container {
        max-width: 87%;
    }

    .questions__item-ansver-text {
        font-size: 14px;
    }

    .questions {
        padding-top: 43px;
    }

}

@media only screen and (max-width:635px) {
    
    .gallery__img--big {
        max-width: 100%;
    }

    .gallery__img--small {
        max-width: 100%;
    }

    .subscription__wrapper {
        padding-left: 0;
    }

    .subscription-title {
        text-align: center;
    }

    .subscription-text {
        text-align: center;
        margin: 15px auto;
    }

    .subscription-form {
        justify-content: center;
    }

    .subscription__input-field {
        min-width: 200px;
        padding: 10px 0px 10px 10px;
    }

    .subscription__button {
        font-size: 16px;
        padding: 10px 24px;
    }

}

@media only screen and (max-width:525px) {

    .header {
        height: 700px;
    }
    
    .header__subtitle {
        margin: 0 0 5px
    }
    
    .header__title {
        text-align: center;
        margin: 0 26px 10px;
        font-size: 24.52px;
        line-height: 37px;
        min-height: 111px;
    }

    .header__content {
        margin-bottom: 10px;
    }

    .search-form {
        top: 353px;
    }

    .article__background-field {
        margin: 0px 0 88px
    }

    .article__background-field {
        margin: 43px 0 43px;
        padding: 35px 0
    }
    
    .article__wrapper {
        padding: 32px 20px 32px 20px;
        max-width: 374px;
    }

    .headline {
        font-size: 22.43px;
        line-height: 33px
    }

    .article__headline {
        margin-bottom: 14px;
    }

    .article__text {
        margin-bottom: 14px
    }

    .gallery_large-wrapper {
        margin-bottom: 7px;
    }

    .feedback__wrapper {
        padding: 45px 0;
        background-position: bottom left;
        margin-bottom: 143px;
    }
    
    .slick-slider {
        top: 165px;
        margin-left: 0;
        margin: auto;
        width: 90%;
    }

    .questions {
        margin-bottom: 200px;
    }

    .questions__wrapper {
        background-size: cover;
        background-position: bottom;
    }
    
    .questions__item {
        top: 155px;
        margin: auto;
        min-height: 60px;
    }

    .questions__item-ansver-container {
        top: 60px;
    }

    .footer__container {
        padding-top: 50px;
        padding-bottom: 40px;
    }    

    .footer__blocks-title {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .footer__container {
        font-size: 16px;
        line-height: 23px;
    }

    .footer__contacts-address {
        font-size: 12px;
    }
}

@media only screen and (max-width:464px) {

    .property-display__menu-list {
        padding: 0 10px;
        width: 100%;
        justify-content: space-between;
    }
    
    .property-display__menu-item + .property-display__menu-item {
        margin-left: 0;
    }

    .property-display__description {
        flex-wrap: wrap;
        max-width: 90%;
        padding: 10px 15px;
    }

    .property-display__description-text {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .property-display__description-text-title {
        display: inline-block;
    }

    .property-display__description-text-price {
        display: inline-block;
        font-size: 17.33px;
        margin-left: 3px;
    }

    .property-display__description-button {
        padding: 10px 30px;
    }

    .questions {
        display: none;
    }

    .footer__block-contacts {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .footer__contacts-title {
        margin-bottom: 10px;
    }

    .footer__contacts-address {
        max-width: initial;
        width: 251px;
        margin: 0 auto 10px 0;
    }

    .footer__block-product,
    .footer__block-company,
    .footer__block-social {
        width: 180px;
        margin: 0;
    }

    .footer__blocks-title {
        margin: 20px 0 0;
        padding-top: 20px;
    }

    .footer__block {
        position: relative;
        cursor: pointer;
    }

    .footer__block::before,
    .footer__block::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 15px;
        height: 2px;
        left: 105px;
    }

    .footer__block::before {
        transform: rotate(45deg);
        top: 47px;
    }

    .footer__block::after {
        transform: rotate(135deg);
        top: 57px;
    }

    .footer__block--active {
        margin-bottom: 126px;
    }

    .footer__block--active::before {
        top: 57px;
    }

    .footer__block--active::after {
        top: 47px;
    }



    .footer__blocks-list {
        display: none;
        font-size: 18px;
        position: absolute;
        left: 140px;
        top: 42px;
        min-width: 100px;
    }

    .footer__blocks-list--active {
        display: block;
    }


}

@media only screen and (max-width:447px) {

    .property-display__item {
        grid-template-rows: 194px 75px 78px
    }
}

@media only screen and (max-width:410px) {
    
    body {
        font-size: 14px;
    }

    .header {
        height: 687px;
    }

    .header__img-wrapper {
        display: none;
    }

    .search-form {
        left: 52px;
    }

    .article__background-field {
        margin: 30px 0 55px;
        padding: 35px 0;
    }

    .property-display {
        padding-bottom: 30px;
    }

    .property-display__header {
        padding-top: 30px;
    }

    .gallery {
        padding-top: 30px;
        margin-bottom: 30px;
    }

    .gallery_large-wrapper,
    .gallery_small-wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .gallery__link-large,
    .gallery__link-small {
        width: 98%;
    }

    .gallery_large-wrapper {
        margin-bottom: 0px;
    }

    .feedback {
        padding: 30px 0 40px;
    }
    
    .subscription-form {
        flex-direction: column;
        margin: 0 20px;
    }

    .subscription__wrapper {
        padding: 20px 0 30px;
    }

    .subscription__input-field {
        text-align: center;
    }

}