/* Main settings -------------------------------- */

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: #FBFCFF;
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Noto Serif', serif; */
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

a {
    text-decoration: none;
    color:inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

figure {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    padding: 0;
    border-width: 0ch;
}

/* Elements ------------------------------------- */

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

.button-link {
    font-family: 'Lato', sans-serif;
    line-height: 19px;
    padding: 12px 43px;
    display: inline-block;
}

.headline {
    font-family: 'Noto Serif', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28.43px;
    line-height: 40px;
    color: #010916;

}

/* Header ----------------------------------------*/

.header {
    background-color: #fff;
    height: 783px;
}

.header__decoration-rectangle--outer-big {
    width: calc((100vw - 1142px) / 2);
    height: 783px;
    background-color: rgb(66, 127, 246, .1);
    position: absolute;
    right: 0;
    z-index: 0;
}

.header__decoration-rectangle--inner-tall {
    width: 230px;
    height: 783px;
    background-color: rgb(66, 127, 246, .1);
    position: absolute;
    z-index: 0;
    margin-left: 911px;
}

.header__menu-area {
    padding: 25px 0 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.header__logo {
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
}

.header__logo span{
    color: #427FF6;
}

.header__menu {
    margin: 0 45px 0 auto;
    z-index: 1;
}

.header__menu-list {
    display: flex;
    justify-content: space-between;
}

.header__menu-item {
    font-family: 'Lato', sans-serif;
    line-height: 19px;
    opacity: 0.7;
}

.header__menu-item + .header__menu-item{
    margin-left: 46px;
}

.header__menu-item--current {
    color: #427FF6;
    font-weight: bold;
    opacity: 1;
}

.header__button {
    background-color: #427FF7;
    z-index: 1;
}

.header__button-link {
    color: #FFFFFF;
}

.header__main-area {
    display: grid;
    grid-template-columns: 463px 137px minmax(250px, 543px);
    padding-bottom: 127px;
}

.header__content {
    grid-column: 1/3;
    margin-bottom: 104px;
}

.header__subtitle {
    margin: 113px 0 10px -2px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 23px;
    letter-spacing: 1.7px;
    color: #427FF6;
}

.header__title {
    margin: 0 0 30px;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    font-size: 50.52px;
    line-height: 69px;
    color: #010916;
}

.header__text {
    opacity: 0.7;
    max-width: 463px;
}

.header__decoration-rectangle--inner-small {
    width: 79%;
    background-color: rgb(66, 127, 246, .1);
    grid-column: 3/-1;
    margin: 62px 0 156px;
    margin-left: auto;
    z-index: 0;
}

.header__img-wrapper {
    grid-column: 2/-1;
    max-width: 100%;
    background-image: url(../images/header-img.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__content,
.header__img-wrapper,
.header__decoration-rectangle--inner-small {
    grid-row: 1/2;
}

/* Article ---------------------------------------*/

.article__background-field {
    margin: 183px 0 88px;
    padding: 82px 0;
    background-image: url(../images/article-background.jpg);
    background-repeat: no-repeat;
    background-position: top right;
}

.article__wrapper {
    padding: 63px 39px 62px 54px;
    background: #FFFFFF;
    max-width: 557px;
}

.article__headline {
    margin-bottom: 28px;
    max-width: 458px;
}

.article__text {
    margin-bottom: 35px;
    opacity: .7;
}

.article__link {
    cursor: pointer;
}

.article__link-text {
    font-size: 18px;
    line-height: 23px;
    color: #3454D1;
    padding-right: 2px;
    display: inline-block;
}

.article__link--icon {
    fill: #3454D1;
}

/* Property display ------------------------------*/

.property-display {
    background-color: #fff;
    margin-bottom: 65px;
}

.property-display__header {
    padding: 102px 0 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.property-display__headline {
    max-width: 409px;
    font-weight: bold;
}

.property-display__menu-list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(0, 0, 0, .4);
}

.property-display__menu-item {
    font-family: 'Lato', sans-serif;
    line-height: 19px;
    opacity: 0.7;
}

.property-display__menu-item-active{
    font-weight: bold;
    opacity: 1;
    border-bottom: 2px solid #000000;
}

.property-display__menu-item + .property-display__menu-item {
    margin-left: 50px;
}

.property-display__body {
    
}
.property-display__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.property-display__block--house {
    
}

.property-display__block--apartment {
    display: none;
}

.property-display__block--land {
    display: none;
}

.property-display__item {
    display: grid;
    grid-template-rows: 299px 102px 107px;
    justify-items: center;
    margin-bottom: 30px;
}

.property-display__image {
    grid-area: 1/1/3/2;
}
.property-display__description {
    padding: 45px 45px;
    display: flex;
    align-items: flex-end;
    background-color: #fff;
    /* max-width: 508px; */
    box-shadow: 0px 0px 20px 4px rgb(177 179 182 / 10%);
    grid-area: 2/1/4/2;
}

.property-display__description-text {
    margin-right: 128px;
}

.property-display__description-text-title {
    font-family: 'Noto Serif', serif;
    line-height: 22px;
    margin-bottom: 10px;
}

.property-display__description-text-price {
    font-size: 21.33px;
    line-height: 29px;
    margin-bottom: 13px;
}

.property-display__description-text-parameters {
}

.property-display__icon {
    margin-right: 10px;
}

span + .property-display__icon {
    margin-left: 17px;
}

.property-display__icon-figure {
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    line-height: 19px;
    opacity: 0.7;
}

.property-display__description-text-address {
    font-family: 'Noto Serif', serif;
    font-size: 12px;
    line-height: 16px;
    opacity: 0.7;
}

.property-display__icon-adress {
    margin-right: 8px;
}
.property-display__description-button {
    padding: 14px 36px;
    background-color: #E1EBFE;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #3454D1;
    cursor: pointer;
}

/* Gallery---------------------------------------- */

.gallery {
    padding-top: 100px;
    margin-bottom: 86px;

}

.gallery__headline {
    font-weight: bold;
    max-width: 502px;
    margin: auto;
    text-align: center;
    margin-bottom: 24px;
}
.gallery__text {
    opacity: .7;
    text-align: center;
    margin-bottom: 52px;
}

.gallery__popup-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery__img {
    margin-bottom: 19px;
    cursor: zoom-in;
}

.gallery__img--big {
    max-width: 554px;
}

.gallery__img--small {
    max-width: 360px;
}

/* Feedback --------------------------------------------*/

.feedback {
    padding: 95px 0;
    background-color: #fff;
}

.feedback__wrapper {
    background-image: url(../images/feedback-background.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 111px 0;
}

.feedback__slider {
    background-color: #fff;
    max-width: 551px;
    margin-left: auto;
    box-shadow: -10px 5px 20px 2px rgb(177 179 182 / 10%);
}

.feedback .slick-arrow {
    font-size: 0;
    position: absolute;
    top: 90%;
    z-index: 10;
    border: none;
    width: 15px;
    height: 26px;
    background-color: #fff;
    margin-top: -10px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

 .feedback .slick-prev {
    left: 10px;
    background-image: url(../images/arrow-left.svg);
}

.feedback .slick-next {
    right: 10px;
    background-image: url(../images/arrow-right.svg);
} 

.feedback .slick-dots {
    display: flex;
    font-size: 0;
    position: absolute;
    top: 90%;
    z-index: 10;
    left: 50%;
    margin-left: -39px;
    border: none;
    cursor: pointer;
}

.feedback .slick-dots li {
    margin-left: 5px;
}

.feedback .slick-dots button {
    background-color: rgb(219, 219, 219, .5);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.feedback .slick-active button {
    background-color: rgb(219, 219, 219, 1);
}

.feedback__slider-item {
    padding: 45px 148px 51px 45px;
}
.feedback__stars {
    width: 88px;
    height: 15.5px;
    margin-bottom: 47px;
}

.feedback__stars--5{
    background-image: url(../images/5-stars.png);
}

.feedback__stars--4{
    background-image: url(../images/4-stars.png);
}

.feedback__stars--3{
    background-image: url(../images/3-stars.png);
}

.feedback__text {
    opacity: .7;
    margin-bottom: 58px;
    line-height: 23.8px;
}

.feedback__img-container {
    display: inline-block;
    max-width: 41px;
    max-height: 41px;
    margin-left: 4px;
    margin-right: 6px;
    border-radius: 50%;
    overflow: hidden;
}

.feedback__img {
    max-width: 100%;
}

.feedback__autor {
    display: inline-block;
}
.feedback__autor-name {
    opacity: 1;
    margin-bottom: 4px;
}
.feedback__autor-address {
    font-size: 14px;
    opacity: 0.7;
}

/* Questions --------------------------------------------*/

.questions {
    padding-top: 106px;
    margin-bottom: 361px;
}

.questions__headline {
    font-weight: bold;
    max-width: 588px;
    margin-bottom: 43px;
}

.questions__wrapper {
    background-image: url(../images/questions-background-img.png);
    background-repeat: no-repeat;
    position: top left;
}
.questions__item {
    max-width: 637px;
    margin-left: auto;
    background-color: #fff;
}

.questions__item + .questions__item {
    margin-top: 26px;
}

.questions__item-header {
    padding: 28px 47px;
    margin-right: 31px;
    font-family: Noto Serif;
    font-size: 21px;
    line-height: 29px;
    color: #000000;
}
.questions__item-button {
    padding: 11px 17px;
    background-color: #ECF2FE;
    position: absolute;
    margin: -42px;
    margin-left: 586px;
    cursor: pointer;
}

.questions__item-ansver-container {
    display: none;
    position: absolute;
    margin-top: -30px;
    max-width: 570px;
    background-color: #ffffff;
}

.questions__item-ansver-text {
    opacity: .7;
    line-height: 23px;
    padding: 20px 20px 20px 47px;
}